[Unit]
Description=VPN DNS Helper
# dnsmasq needs to be the resolver on localhost
Wants=dnsmasq.service
Wants=NetworkManager.service

[Service]
ExecStart=/usr/bin/vpndnshelper -v

[Install]
WantedBy=multi-user.target

